html, body{
    padding-top:20px;
    padding-bottom:20px;
    height:100%;
}

#wrap{
    min-height:100%;
}

#main{
    overflow:auto;
    padding-bottom:10px;
}

.footer{
    position:relative;
    margin-top:-1px;
    height:50px;
    clear:both;
    color:#ffffff;
}

.car-img{
    text-align:center;
}

div.banner{
}

div.footer{
    background-color:#909090;
}

div.slideshow{
}

.nav li{
    padding-top:5px;
}

li.news-item{
}

li.news-timestamp{
    list-style-type:none;
    font-size:0.7em;
    font-style:italic;
    padding-bottom:10px;
}

li.sci-item{
}

p.news-timestamp{
    font-size:0.8em;
    font-style:italic;
}

p.author{
}

p.news-description{
    font-size:1.2em;
    font-style:italic;
}

p.news-body{
    font-size:1.2em;
}

p.sci-body{
    font-size:1.2em;
}

span.timestamp{
    font-size:0.7em;
    font-style:italic;
    padding-bottom:10px;
}

ul.news-list{
    list-style-type:none;
}

ul.people-list{
    list-style-type:none;
}

ul.sci-list{
    list-style-type:none;
}

div.hero-unit{
    padding-top:20px;
    padding-bottom:20px;
}
