{% extends "cmiphome.html" %}

{% block body %}
<p class="list_header">Conversion Progress</p>
<p>(Beto mudou a pasta das saídas (novo nome do modelo). Esta é a situação na pasta nova.)</p>
<ul class="exp_list">
{% for entry in info %}
    <li>
        {% if entry.error %}
            <img src="/media/vermelho.png" width=10 title="Error"/>
            {{ entry.decade }}
            <progress title="Error" value=0></progress>
            (No information)
        {% elif entry.count_error %}
            <img src="/media/amarelo.png" width=10 title="Warning"/>
            {{ entry.decade }}
            <progress title="Warning" value={{ entry.progress }}></progress>
            (Current > Expected. Check conversion/copy)
        {% else %}
            {% if entry.finished %}
                <img src="/media/final.png" width=10 title="Finished"/>
            {% else %}
                <img src="/media/verde.png" width=10 title="Running"/>
            {% endif %}
            {{ entry.decade }}
            <progress title={{ entry.text_progress }} value={{ entry.progress }}></progress>
            {{ entry.text_progress }}
            ({{ entry.current }} months of {{ entry.expected }})
        {% endif %}
    </li>
{% empty %}
    <li>oops</li>
{% endfor %}
</ul>
{% endblock %}

