{% extends 'cmiphome.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span10">

        <h2>Running Experiments</h2>
          <div class="well">
            <h3>Running OK</h3>
              <button class="btn btn-small" data-toggle="collapse" 
                      data-target=".expcollapse">Hide/Show All</button>
          <div class="collapse in" id="running"><br>
            {% for exp in running %}
                <a href="/cmip/expview/{{ exp.0.name }}">{{ exp.0.name }}</a>
                <button class="btn btn-small" data-toggle="collapse" 
                        data-target="#exp{{ exp.0.id }}">Details</button>
                <div class="collapse expcollapse" id="exp{{ exp.0.id }}">
                    <div class="well">
                    <span class="small-info">CO2: {{ exp.1.co2 }}</span>
                  {% for minfo in exp.1.minfo %}
                    <div class="row"><br>
                      <div class="span1">
                        {{ minfo.member }}
                      </div>
                      <div class="span2">
                        <progress class="exp_progress_small" 
                                  value={{ minfo.prog }} title="{{ minfo.text_total }}%">
                        </progress>
                      </div>
                      <div class="span4">
                        ({{ minfo.finished_years }} of {{ minfo.total_years }}y)
                      </div>
                    </div>
                  {% endfor %}
                    </div>        
              </div>
            {% empty %}
              <p>None</p>
            {% endfor %}
          </div>
          </div>

          <div class="well">
            <h3>Running with Errors</h3><h4>Total errors: {{ total_errors }}</h4>
              <button class="btn btn-small" data-toggle="collapse" 
                      data-target=".expcollapse-errors">Hide/Show All</button>
          <div class="collapse in" id="running-errors"><br>
            {% for exp in running_errors %}
                <a href="/cmip/expview/{{ exp.0.name }}">{{ exp.0.name }}</a>
                <button class="btn btn-small" data-toggle="collapse" 
                        data-target="#exp{{ exp.0.id }}-errors">Details</button>
                <div class="collapse expcollapse-errors" id="exp{{ exp.0.id }}-errors">
                    <div class="well">
                  {% for minfo in exp.1.minfo %}
                    <div class="row"><br>
                      <div class="span1">
                        {{ minfo.member }}
                      </div>
                      <div class="span2">
                        <progress class="exp_progress_small" 
                                  value={{ minfo.prog }} title="{{ minfo.text_total }}%">
                        </progress>
                      </div>
                      <div class="span4">
                        ({{ minfo.finished_years }} of {{ minfo.total_years }}y)
                      </div>
                    </div>
                  {% endfor %}
                    </div>        
              </div>
            {% empty %}
              <p>None</p>
            {% endfor %}
          </div>
          </div>
              
          <div class="well">
            <h3>Running with Aborted</h3><h4>Total Aborted {{ total_aborted }} </h4>
              <button class="btn btn-small" data-toggle="collapse" 
                      data-target=".expcollapse-aborted">Hide/Show All</button>
          <div class="collapse in" id="running-aborted"><br>
            {% for exp in running_aborted %}
                <a href="/cmip/expview/{{ exp.0.name }}">{{ exp.0.name }}</a>
                <button class="btn btn-small" data-toggle="collapse" 
                        data-target="#exp{{ exp.0.id }}-aborted">Details</button>
                <div class="collapse expcollapse-aborted" id="exp{{ exp.0.id }}-aborted">
                    <div class="well">
                  {% for minfo in exp.1.minfo %}
                    <div class="row"><br>
                      <div class="span1">
                        {{ minfo.member }}
                      </div>
                      <div class="span2">
                        <progress class="exp_progress_small" 
                                  value={{ minfo.prog }} title="{{ minfo.text_total }}%">
                        </progress>
                      </div>
                      <div class="span4">
                        ({{ minfo.finished_years }} of {{ minfo.total_years }}y)
                      </div>
                    </div>
                  {% endfor %}
                    </div>        
              </div>
            {% empty %}
              <p>None</p>
            {% endfor %}
          </div>
          </div>



        <h2>Finished Experiments</h2>

          <div class="well">
            <h3>Finished OK</h3>
              <button class="btn btn-small" data-toggle="collapse" 
                      data-target="#finished">Hide/Show All</button>
              <div class="collapse in" id="finished"><br>
                <ul class="unstyled">
                          {% for exp in finished %}
                            <li>
                              <a href="/cmip/expview/{{ exp.0.name }}">{{ exp.0.name }}</a>
                              <span class="small-info">CO2: {{ exp.1.co2 }}</span>
                            </li>
                          {% empty %}
                            <li>None</li>
                          {% endfor %}
                </ul>
              </div>
          </div>

          <div class="well">
            <h3>Finished with Aborted</h3>
              <button class="btn btn-small" data-toggle="collapse" 
                      data-target="#aborted">Hide/Show All</button>
              <div class="collapse in" id="aborted"><br>
                <ul class="unstyled">
                          {% for expa in finished_aborted %}
                            <li>
                              <a href="/cmip/expview/{{ expa.0.name }}">{{ expa.0.name }}</a>
                              <span class="small-info">CO2: {{ expa.1.co2 }}</span>
                            </li>
                          {% empty %}
                            <li>None</li>
                          {% endfor %}
                </ul>
              </div>
          </div>

    </div>
  </div>
</div>

{% endblock %}

