{% extends 'cmiphome.html' %}

{% block body %}
<div class="exp_view">
    <p class="exp_view_section">Experiment: {{ title }}</p>
    <p>Click exp/member name to see its figures</p>

    <ul class='exp_list'>
        {% for member_info in minfo %}

        <li {%if member_info.error %} class="err_exp_info" {% endif %}>
            <table class="exp_line"><tr class="exp_line">
            <!-- signal -->
            <td width=120>
            <span class="signal">
            {% if member_info.post %}
                <img src="/media/azul.png" width=10 title="Post-Processing"/> <!-- post -->
            {% elif  member_info.running %}
                <img src="/media/verde.png" width=10 title="Running"/> <!-- running -->
            {% elif member_info.aborted %}
                <img src="/media/vermelho.png" width=10 title="Error"/>
            {% elif member_info.complete %}
                <img src="/media/final.png" width=10 title="Finished"/>
            {% elif member_info.error %}
                <img src="/media/vermelho.png" width=10 title="Error"/>
            {% else %}
                <img src="/media/amarelo.png" width=10 title="Waiting/Copying"/> <!-- waiting -->
            {% endif %}

            <!-- name and link -->
            <a class="val_link" href="/cmip/validation/{{ member_info.member }}">{{ member_info.member }}</a>
            </span>
            </td>

            <td width=200>
            <!-- progressbar -->
            <progress class="exp_progress" value={{ member_info.prog }} title="{{ member_info.text_total }}%"></progress>
            </td>

            <td>
            <!-- run info -->
            <span class="exp_progress_details" 
                  title="{% if member_info.running %}[{{ member_info.text_run }}% on run {{ member_info.current }}
                         {% else %}[Completed {{ member_info.last }} runs{% endif %} of {{ member_info.total }}]">
                {% if not member_info.complete %}
                    {{ member_info.text_total }}% ({{ member_info.finished_years }} 
                    years of {{ member_info.total_years }})
                {% else %}
                    {% if member_info.aborted %}
                        Aborted in
                    {% else %}
                        Completed 
                    {% endif %}
                    {{ member_info.finished_years }} years.
                    {% if member_info.error %}
                        Error ocurred in last run.
                    {% endif %}
                {% endif %}
                {% if member_info.total_errors %}
                    Total errors: {{ member_info.total_errors }}
                {% endif %}
            </span>
            </td>
            </tr></table>
        </li>
        

        {% empty %}No jobs submitted
        {% endfor %}
    </ul>
    <p>Total errors in this list: {{ page_errors }}</p>
</div>


<div class="discussion">
    <ul class="discussion_list" id="collapsible">
        <li><a class="accordion_link" href="#">Discussion</a>
            <ul class="comment_list">
                {% for comment in comments %}
                    <li class="comment">{{ comment.text }}</li>
                    <li class="comment_author">{{ comment.author }}</li>
                {% empty %}
                    <li>No comments in this experiment.</li>
                {% endfor %}
                <li>
                   <form style='display:inline' class='default' method="post" id="form" action="" enctype="multipart/form-data">
                       {% csrf_token %}
                       <p>{{ form.as_p }}<button class='default_btn' type="submit">Submit Comment</button></p>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}

