{% extends "cmiphome.html" %}

{% block body %}
<div class="container">
    <div class="row"><br>
        <div class="span10">

            <div class="well">
                <h2>Conversion Progress</h2>
                <p>(Beto mudou a pasta das saídas (novo nome do modelo). Esta é a situação na pasta nova.)</p>
            </div>

            {% if info.info %}
                <div class="well">
                <p><button class="btn btn-small" data-toggle="collapse" data-target=".collapse">Hide/Show All</button></p>
                    {% for decade, decade_info in info.info.items %}
                        <div class="row"><br><!-- row for decade -->
                            <div class="span9">

                                <div class="row"><!-- row for button/bar -->
                                    <div class="span2">
                                        <button class="btn btn-small" data-toggle="collapse" data-target="#{{ decade }}">{{ decade }}</button>
                                    </div>
                                    <div class="span7">
                                        {% for key, value in info.acum.items %}
                                            {% if key == decade %}
                                                {% if value.1 == 1 %}
                                                    <div class="progress progress-success" title="Complete">
                                                {% else %}
                                                    <div class="progress progress-striped active" title="{{ value.0 }}">
                                                {% endif %}
                                                       <div class="bar" style="width: {{ value.0 }}"></div>
                                                    </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="collapse" id="{{ decade }}"><br>
                                    <div class="well">
                                        <!-- "header" row -->
                                        <div class="row"><br>
                                            <div class="span2">
                                                Realization
                                            </div>
                                            <div class="span2">
                                                Ocean
                                            </div>
                                            <div class="span2">
                                                Atmos
                                            </div>
                                            <div class="span2">
                                                Land
                                            </div>
                                        </div>
                                        <!-- and one row for condition -->
                                        {% for condition, condition_info in decade_info.items %}
                                            <div class="row"><br>
                                                <div class="span2">
                                                    {{ condition }}
                                                </div>
                                                <!-- and one span for component, not looping because we cannot be sure of order -->
                                                
                                                <!--Ocean-->
                                                <div class="span2">
                                                    {% if condition_info.ocean %}
                                                        {% if condition_info.ocean.1 == 1 %}
                                                            <div class="progress progress-success" title="Complete">
                                                                <div class="bar" style="width: 100%"></div>
                                                            </div>
                                                        {% else %}
                                                           <div class="progress progress-striped active" title="{{ condition_info.ocean.0 }}">
                                                                <div class="bar" style="width: {{ condition_info.ocean.0 }}"></div>
                                                            </div>
                                                        {% endif %}
                                                    {% else %}
                                                        <div class="progress progress-striped active" title="No info">
                                                            <div class="bar" style="width: 0%;"></div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <!--Atmos-->
                                                <div class="span2">
                                                    {% if condition_info.atmos %}
                                                        {% if condition_info.atmos.1 == 1 %}
                                                            <div class="progress progress-success" title="Complete">
                                                                <div class="bar" style="width: 100%"></div>
                                                            </div>
                                                        {% else %}
                                                           <div class="progress progress-striped active" title="{{ condition_info.atmos.0 }}">
                                                                <div class="bar" style="width: {{ condition_info.atmos.0 }}"></div>
                                                            </div>
                                                        {% endif %}
                                                    {% else %}
                                                        <div class="progress progress-striped active" title="No info">
                                                            <div class="bar" style="width: 0%;"></div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <!--Land-->
                                                <div class="span2">
                                                    {% if condition_info.land %}
                                                        {% if condition_info.land.1 == 1 %}
                                                            <div class="progress progress-success" title="Complete">
                                                                <div class="bar" style="width: 100%"></div>
                                                            </div>
                                                        {% else %}
                                                           <div class="progress progress-striped active" title="{{ condition_info.land.0 }}">
                                                                <div class="bar" style="width: {{ condition_info.land.0 }}"></div>
                                                            </div>
                                                        {% endif %}
                                                    {% else %}
                                                        <div class="progress progress-striped active" title="No info">
                                                            <div class="bar" style="width: 0%;"></div>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            {% else %}
                <div class="alert alert-warning">
                    <p>Nothing going on!</p>
                </div>   
            {% endif %}

            </div>
        </div>
    </div>
</div>


{% endblock %}

