{% extends 'cmiphome.html' %}

{% block body %}
<div class="exp_view">
<p class="exp_view_section">Validation Images for {{ expname }}</p>
</div>
<div class="graphics_info">
Graphics info:<br>{{ log|linebreaks }}
</div>
<div class="accordion_container" id="accordion">
{% for pair in imgs %}
    <h3 class="accordion_header"><a class="accordion_link" href="#">Region {{ pair.0 }}</a></h3>
    <div>
    {% for img in pair.1 %}
        <a href="{{ img }}"><img src="{{ img }}" width=300/></a>
    {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}

