<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>


<head>
<link rel="stylesheet" type="text/css" href="/media/cmip_style.css" />
{% block cabecalho %}
<title>CMIP Experiments Status</title>
{% endblock %}
</head>

<body>


{% block links %}
<ul class="nav_bar">
<li class="nav_bar"><a class="header_link" href="/cmip/">Home</a></li>
<li class="nav_bar"><a class="header_link" href="/cmip/list">Experiments</a></li>
<li class="nav_bar"><a class="header_link" href="/cmip/validation">Validation</a></li>
</ul>
{% endblock %}


{% block body %}
<div class="home">
<p>Welcome to INPE-OA CMIP Experiments monitoring!</p>
</div>
{% endblock %}


{% block footer %}
<div class="footer">Grupo de Modelagem Oceano-Atmosfera - INPE - Brasil</div>
{% endblock %}

</body>
</html>
