<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/media/css/cmip_style.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/lightbox.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/jquery.qtip.min.css" />
        {% block cabecalho %}
             <title>CMIP Experiments Status</title>
        {% endblock %}
        <script type="text/javascript" src="http://www.websnapr.com/js/websnapr.js"></script>
        <script type="text/javascript" src="/media/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/media/js/jquery-ui-1.8.2.custom.min.js"></script>
        <script type="text/javascript" src="/media/js/jquery.collapse.js"></script>
        <script type="text/javascript" src="/media/js/jquery.easing.js"></script>
        <script type="text/javascript" src="/media/js/lightbox.js"></script>
        <script type="text/javascript" src="/media/js/jquery.qtip.min.js"></script>
        <script>
            $(document).ready(function(){
                // Activate accordion.
                $("#accordion").accordion({
                    active: false,
                    collapsible: true
                });
            });
        </script>
        <script>
            $(function(){
                $('#collapsible').jqcollapse({
                   slide: true,
                   speed: 1000,
                   easing: 'easeOutCubic'
                });
                $(".exp_list").show();
            });
        </script>
        <script>
            // Create the tooltips only on document load
            $(document).ready(function()
            {
                var apiKey = 'C4ROVXUj0VMM';
 
                // Notice the use of the each method to gain access to each element individually
                $("#snapper").each(function()
                {
                    // Grab the URL from our link
                    var url = encodeURIComponent( $(this).attr('href') ),
 
                    // Create image thumbnail using Websnapr thumbnail service
                    thumbnail = $('<img />', {
                        src: 'http://images.websnapr.com/?url=' + url + '&key=' + apiKey + '&hash=' + encodeURIComponent(websnapr_hash),
                        alt: 'Loading thumbnail...',
                        width: 202,
                        height: 152
                    });
 
                    // Setup the tooltip with the content
                    $(this).qtip(
                    {
                        content: thumbnail,
                        position: {
                            my: 'top center',
                            at: 'bottom center',
                            viewport: $(window) // Attempt to keep it on screen at all times
                        },
                        style: {
                            classes: 'ui-tooltip-thumbnail ui-tooltip-shadow'
                        }
                    });
                });
            });
        </script>
    </head>

    <body>
        {% block links %}
            <ul class="nav_bar">
                <li class="nav_bar"><a class="header_link" href="/cmip/">Home</a></li>
                <li class="nav_bar"><a class="header_link" href="/cmip/list">Experiments</a></li>
                <li class="nav_bar"><a class="header_link" href="/cmip/people_list">People</a></li>
            </ul>
        {% endblock %}

        {% block body %}
            <div class="home">
                <p>Welcome to INPE-OA CMIP Experiments monitoring!</p>
            </div>
        {% endblock %}

        {% block footer %}
            <div class="footer">
                Grupo de Modelagem Oceano-Atmosfera - INPE - Brasil
                <a class="logout_link" href="/cmip/logout/">Logout</a>
            </div>
        {% endblock %}
    </body>
</html>
