{% extends 'cmiphome.html' %}

{% block body %}
    <!-- RUNNING SECTION -->
    <div class="list_running">
    <p class="list_header">Running Experiments</p>
            <ul class="exp_list" id="collapsible">
                <li>Running OK
                    <ul class="exp_list">
                        {% for exp in running %}
                            <li><a class="exp_link"href="/cmip/expview/{{ exp.name }}">{{ exp.name }}</a></li>
                        {% empty %}
                            <li>None.</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <ul class="exp_list" id="collapsible">        
                <li>Running with Errors
                    <ul class="exp_list">
                        {% for exp in running_errors %}
                            <li><a class="exp_error_link"href="/cmip/expview/{{ exp.name }}">{{ exp.name }}</a></li>
                        {% empty %}
                            <li>None.</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <ul class="exp_list" id="collapsible">
                <li>Running with Aborted
                    <ul class="exp_list">
                        {% for exp in running_aborted %}
                            <li><a class="exp_aborted_link"href="/cmip/expview/{{ exp.name }}">{{ exp.name }}</a></li>
                        {% empty %}
                            <li>None.</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
    </div>
    <!-- END OF RUNNING SECTION -->

    <!-- FINISHED SECTION -->
    <div class="list_finished">
    <p class="list_header">Finished Experiments</p>

            <ul class="exp_list" id="collapsible">
                <li>Finished OK
                    <ul class="exp_list">
                        {% for exp in finished %}
                            <li><a class="exp_finished_link"href="/cmip/expview/{{ exp.name }}">{{ exp.name }}</a></li>
                        {% empty %}
                            <li>None.</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <ul class="exp_list" id="collapsible">
                <li>Finished with Aborted
                    <ul class="exp_list">
                        {% for exp in finished_aborted %}
                            <li><a class="exp_aborted_link"href="/cmip/expview/{{ exp.name }}">{{ exp.name }}</a></li>
                        {% empty %}
                            <li>None.</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
    </div>
    <!-- END OF FINISHED SECTION -->
{% endblock %}

