<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/gmao_style.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/lightbox.css" />
        {% block cabecalho %}
             <title>CMIP Experiments Status</title>
        {% endblock %}
    </head>

    <body>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li class="active"><a class="brand" href="/cmip/">CMIPStatus</a></li>
                            <li><a href="/cmip/">Home</a></li>
                            <li><a href="/cmip/list/">Experiments</a></li>
                            <li><a href="/cmip/news/">News</a></li>
                            <li><a href="/cmip/outputs/">Outputs</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        <div id="wrap">
            <div id="main" class="container clear-top">
                <div class="banner">
                    <div class="container">
                        <div class="row"><br>
                            <div class="span12">
                                {% block pagebanner %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

                {% block body %}
                    <div class="hero-unit">
                        <h2>Welcome to INPE-OA CMIP Experiments monitoring!</h2>
                    </div>
                {% endblock %}
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row"><br>
                    <div class="span12">
                        Grupo de Modelagem Oceano-Atmosfera - INPE - Brasil
                        {% if user.is_authenticated %}
                            <a href="/cmip/logout/">Logout</a>
                        {% else %}
                            <a href="/cmip/login/">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/media/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/media/js/jquery-ui-1.8.2.custom.min.js"></script>
        <script type="text/javascript" src="/media/js/jquery.collapse.js"></script>
        <script type="text/javascript" src="/media/js/jquery.easing.js"></script>
        <script type="text/javascript" src="/media/js/lightbox.js"></script>
        <script>
            $(document).ready(function(){
                // Activate accordion.
                $("#accordion").accordion({
                    active: false,
                    collapsible: true
                });
            });
        </script>
        <script>
            $(function(){
                $('#collapsible').jqcollapse({
                   slide: true,
                   speed: 1000,
                   easing: 'easeOutCubic'
                });
                $(".exp_list").show();
            });
        </script>
        <script>
            function expandlists(){
                $(".exp_sub_list").show();
                document.getElementById('expandbtn').onclick = hidelists
                document.getElementById('expandbtn').value = "Collapse All"
            }
            function hidelists(){
                $(".exp_sub_list").hide();
                document.getElementById('expandbtn').onclick = expandlists
                document.getElementById('expandbtn').value = "Expand All"
            }
        </script>

    </body>
</html>
