{% extends "cmiphome.html" %}

{% block body %}
<div class="container">
    <div class="row"><br>
        <div class="span10">

            <div class="well">
                <h2>Conversion Progress</h2>
                <p>(Beto mudou a pasta das saídas (novo nome do modelo). Esta é a situação na pasta nova.)</p>
            </div>

            {% if info %}
                <div class="well">
                    {% for entry in info %}
                        <div class="row"><br>
                            <div class="span2">
                                {% if entry.error %}
                                    <img src="/media/vermelho.png" width=10 title="Error"/>
                                {% elif entry.count_error %}
                                    <img src="/media/amarelo.png" width=10 title="Warning"/>
                                {% elif entry.finished %}
                                    <img src="/media/final.png" width=10 title="Finished"/>
                                {% else %}
                                    <img src="/media/verde.png" width=10 title="Running"/>
                                {% endif %}
                                {{ entry.decade }}
                            </div>
                            <div class="span3">
                                    <progress value={{ entry.progress }}></progress>
                            </div>
                            <div class="span4">
                                {% if entry.error %}
                                    (No information)
                                {% elif entry.count_error %}
                                    (Current > Expected. Check conversion/copy)
                                {% else %}
                                    {{ entry.text_progress }}
                                    ({{ entry.current }} months of {{ entry.expected }})
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    <p>Nothing going on!</p>
                </div>   
            {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}

