{% extends 'cmiphome.html' %}

{% block body %}
    <div class="exp_view">
        <p class="exp_view_section">Validation Images for {{ expname }}</p>
    </div>
    <div class="graphics_info">
        Graphics info:<br>
        Start Date: {{ log.start_date }}<br>
        End Date: {{ log.end_date }}<br>
        Last Generated: {{ log.last_generated }}
    </div>
    <div class="accordion_container" id="accordion">
        {% for pair in imgs %}
            <h3 class="accordion_header"><a class="accordion_link" href="#">Graphics for {{ pair.0 }}</a></h3>
            <div>
                {% for img in pair.1 %} 
                    <a href="{{ img }}" rel="lightbox[{{ pair.0 }}]"><img src="{{ img }}" width=300/></a>
                {% endfor %}
            </div>
        {% endfor %}
{% if has_figs %}
        {% for variable in ensemble_figs %}
            <h3 class="accordion_header"><a class="accordion_link" href="#">{{ variable.0 }}</a></h3>
            <div>
                {% for img in variable.1 %}
                    <a href="{{ img }}" rel="lightbox[{{ variable }}]"><img src={{ img }} width=300/></a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}

