{% extends 'expshome.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span7">

        <h2>Running Experiments</h2>
          <div class="well">
            <h3>Running OK</h3>
              <button class="btn btn-small" data-toggle="collapse" 
                      data-target=".expcollapse">Hide/Show All</button>
          <div class="collapse in" id="running"><br>
            {% for exp in classified.RUN_OK %}
                <a href="/exps/expview/{{ exp.0.id }}">{{ exp.0.name }}</a>
                <button class="btn btn-small" data-toggle="collapse" 
                        data-target="#exp{{ exp.0.id }}">Details</button>
                <div class="collapse expcollapse" id="exp{{ exp.0.id }}">
                    <div class="well">
                  {% for minfo in exp.1.run_info %}
                    <div class="row">
                      <div class="span1">
                        {{ minfo.member }}
                      </div>
                      <div class="span3">
                        <div class="progress progress-striped active" title="{{ minfo.text_total }}%">
                          <div class="bar" style="width: {{ minfo.text_total }}%"></div>
                        </div>
                      </div>
                      <div class="span2">
                        ({{ minfo.finished_years }} of {{ minfo.total_years }}y)
                      </div>
                    </div>
                  {% endfor %}
                    </div>        
              </div>
            {% empty %}
              <p>None</p>
            {% endfor %}
          </div>
          </div>

          <div class="well">
            <h3>Running with Errors</h3><h4>Total errors: {{ total_errors }}</h4>
              <button class="btn btn-small" data-toggle="collapse" 
                      data-target=".expcollapse-errors">Hide/Show All</button>
          <div class="collapse in" id="running-errors"><br>
            {% for exp in classified.RUN_ERR %}
                <a href="/exps/expview/{{ exp.0.id }}">{{ exp.0.name }}</a>
                <button class="btn btn-small" data-toggle="collapse" 
                        data-target="#exp{{ exp.0.id }}-errors">Details</button>
                <div class="collapse expcollapse-errors" id="exp{{ exp.0.id }}-errors">
                    <div class="well">
                  {% for minfo in exp.1.run_info %}
                    <div class="row"><br>
                      <div class="span1">
                        {{ minfo.member }}
                      </div>
                      <div class="span3">
                            <div class="progress progress-striped active" title="{{ minfo.text_total }}%">
                              <div class="bar" style="width: {{ minfo.text_total }}%"></div>
                            </div>
                      </div>
                      <div class="span2">
                        ({{ minfo.finished_years }} of {{ minfo.total_years }}y)
                      </div>
                    </div>
                  {% endfor %}
                    </div>        
              </div>
            {% empty %}
              <p>None</p>
            {% endfor %}
          </div>
          </div>
              
          <div class="well">
            <h3>Running with Aborted</h3><h4>Total Aborted {{ total_aborted }} </h4>
              <button class="btn btn-small" data-toggle="collapse" 
                      data-target=".expcollapse-aborted">Hide/Show All</button>
          <div class="collapse in" id="running-aborted"><br>
            {% for exp in classified.RUN_ABO %}
                <a href="/exps/expview/{{ exp.0.id }}">{{ exp.0.name }}</a>
                <button class="btn btn-small" data-toggle="collapse" 
                        data-target="#exp{{ exp.0.id }}-aborted">Details</button>
                <div class="collapse expcollapse-aborted" id="exp{{ exp.0.id }}-aborted">
                    <div class="well">
                  {% for minfo in exp.1.run_info %}
                    <div class="row"><br>
                      <div class="span1">
                        {{ minfo.member }}
                      </div>
                      <div class="span3">
                            <div class="progress progress-striped active" title="{{ minfo.text_total }}%">
                              <div class="bar" style="width: {{ minfo.text_total }}%"></div>
                            </div>
                      </div>
                      <div class="span2">
                        ({{ minfo.finished_years }} of {{ minfo.total_years }}y)
                      </div>
                    </div>
                  {% endfor %}
                    </div>        
              </div>
            {% empty %}
              <p>None</p>
            {% endfor %}
          </div>
          </div>



        <h2>Finished Experiments</h2>

          <div class="well">
            <h3>Finished OK</h3>
              <button class="btn btn-small" data-toggle="collapse" 
                      data-target="#finished">Hide/Show All</button>
              <div class="collapse in" id="finished"><br>
                <ul class="unstyled">
                          {% for exp in classified.END_OK %}
                            <li>
                              <a href="/exps/expview/{{ exp.0.id }}">{{ exp.0.name }}</a>
                            </li>
                          {% empty %}
                            <li>None</li>
                          {% endfor %}
                </ul>
              </div>
          </div>

          <div class="well">
            <h3>Finished with Aborted</h3>
              <button class="btn btn-small" data-toggle="collapse" 
                      data-target="#aborted">Hide/Show All</button>
              <div class="collapse in" id="aborted"><br>
                <ul class="unstyled">
                          {% for expa in classified.END_ABO %}
                            <li>
                              <a href="/exps/expview/{{ expa.0.id }}">{{ expa.0.name }}</a>
                            </li>
                          {% empty %}
                            <li>None</li>
                          {% endfor %}
                </ul>
              </div>
          </div>

    </div>
    <div class="span3">
        <h2>Dashboard</h2>
        <div class="well">
            <h3 data-toggle="collapse" data-target="#options">Exp Management <b class="caret"></b></h3>
            <div class="collapse in" id="options"><br>
                <p><a href="/exps/include/" class="btn">Include</a></p>
                <p><a href="#" class="btn">Remove</a></p>
            </div>
        </div>
        <div class="well">
            <h3 data-toggle="collapse" data-target="#alerts">Alerts <b class="caret"></b></h3>
            <div class="collapse in" id="alerts"><br>
                <ul>
                    <li>a</li>
                    <li>b</li>
                    <li>c</li>
                    <li>d</li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}

