<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/gmao_style.css" />
        {% block cabecalho %}
             <title>Experiments Status</title>
        {% endblock %}
    </head>

    <body>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li class="active"><a class="brand" href="/exps/">EXPStatus</a></li>
                            <li><a href="/exps/list/">Experiments</a></li>
                            <!--<li><a href="/exps/news/">News</a></li>
                            <li><a href="/exps/outputs/">Outputs</a></li>-->
                            <li><a href="/exps/filecheck/">FileCheck</a></li>
                            <li><a href="/">GMAO</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="/exps/logout/">Logout</a></li>
                            {% else %}
                                <li><a href="/exps/login/">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        <div id="wrap">
            <div id="main" class="container clear-top">
                <div class="banner">
                    <div class="container">
                        <div class="row"><br>
                            <div class="span12">
                                {% block pagebanner %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

                {% block body %}
                    <div class="hero-unit">
                        <h2>Welcome to BESM Experiments monitoring!</h2>
                    </div>
                {% endblock %}
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row"><br>
                    <div class="span12">
                        Grupo de Modelagem Oceano-Atmosfera - INPE - Brasil
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/media/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/media/js/jquery-ui-1.8.2.custom.min.js"></script>

        <script type="text/javascript" src="/media/js/bootstrap.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap-collapse.js"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
