{% extends 'expshome.html' %}

{% load thumbnail %}

{% block body %}
<div class="container">
    <div class="row"><br>
        <div class="span11">
            <div class="well">
                <h2>Experiment {{ member.exp.name }}</h2>
                <h2>Member {{ member.member }}</h2>
            </div>
        </div>
    </div>

    <div class="row"><br>
        <div class="span11">
            <h3>Progress: {{ minfo.text_total }}%</h3>
            <div class="progress progress-striped active" title="{{ minfo.text_total }}%">
                <div class="bar" style="width: {{ minfo.text_total }}%"></div>
            </div>
        </div>
    </div>


    <div class="row"><br>
        <div class="span11">
            <h3>Images</h3>
            <div id="imgs">
                <ul class="nav nav-tabs" data-tabs="tabs" id="tabs">
                    {% for var, fig_list in figs.items %}
                        <li {% if forloop.first %}class="active"{% endif %}>
                            <a href="#{{ var }}" data-toggle="tab">{{ var }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="tab-content">
                    {% for var, fig_list in figs.items %}
                         <div class="tab-pane {% if forloop.first %} active {% endif %}" id="{{ var }}">
                              {% for fig in fig_list %}
                                   <a data-lightbox="images for {{ var }}" href="/media/figures/{{ fig }}"
                                       class="thumbnail span3"><img src="/media/figures/{{ fig }}"></a>
                              {% endfor %}
                         </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row"><br>
        <div class="span5">
            <h3>Plot Config</h3>
            <div class="well">
                 <form method="post" action="" enctype="multipart/form-data" class="infotabs accfrm">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn"><i class="icon-ok"></i> Save Changes</button>
                 </form>
            </div>
        </div>
        <div class="span6">
            <h3>Plot Instructions</h3>
            <div class="well">
                <p><ul>
                    <li><b>Variables</b> lista de variáveis, no formato realm:VAR, separadas por espaços</li>
                    <li><b>Interval</b> intervalo de anos para nova geração de figuras</li>
                    <li><b>Active</b> ativa/desativa a geração para o membro</li>
                    <li><b>Compare to</b> (opcional) Exp/Membro com o qual comparar, formato expXXX MM</li>
                    <li><b>Plot Area</b> (opcional) Recorte dos gráficos, formato XXXW XXXE XXXN XXXS</li>
                </ul></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/media/js/lightbox.min.js"></script>
<link href="/media/css/lightbox.css" rel="stylesheet" />
{% endblock %}
