<!DOCTYPE>


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/gmao_style.css" />
             <title>GMAO - {% block cabecalho %}Home{% endblock %}</title>
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
        <div class="container">
        {# Navbar section #}
            <ul class="nav">
                <li class="active"><a class="brand" href="#">GMAO</a></li>
                <li><a href="/gmao/"><i class="icon-home icon-white"></i> Home</a></li>
                <li><a href="/gmao/newspaper/">Notícias</a></li>
                <li class="dropdown" id="menu-sci">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="menu-sci">Ciência<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/gmao/videos/">Vídeos</a></li>
                        <li><a href="/gmao/graphics/">Gráficos</a></li>
                    </ul>
                </li>
                <li><a href="/gmao/besm/">Modelo Brasileiro</a></li>
                <li><a href="/gmao/publications/">Publicações</a></li>
                <li><a href="/gmao/blog/">Blog</a></li>
                <li><a href="/gmao/people/">Equipe</a></li>
                <li><a href="/cmip/">CMIPStatus</a></li>
                <li class="dropdown" id="menu-restr">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="menu-restr">Restricted<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="#">Notícias <i class="icon-forward"></i></a>
                            <ul class="dropdown-menu sub-menu">
                                <li><a href="/gmao/restricted/create_news/">Escrever</a></li>
                                <li><a href="/gmao/restricted/create_image/">Anexar Imagem</a></li>
                                <li><a href="/gmao/restricted/create_attachment/">Anexar Arquivo</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Posts <i class="icon-forward"></i></a>
                            <ul class="dropdown-menu sub-menu">
                                <li><a href="/gmao/restricted/create_post/">Escrever</a></li>
                                <li><a href="/gmao/restricted/create_postimage/">Anexar Imagem</a></li>
                                <li><a href="/gmao/restricted/create_postattachment/">Anexar Arquivo</a></li>
                            </ul>
                        </li>
                        <li><a href="/gmao/restricted/create_video/">Enviar Video</a></li>
                        <li><a href="/gmao/restricted/upload_publication/">Enviar Publicação</a></li>
                        <li><a href="/gmao/restricted/create_graphic/">Enviar Gráfico</a></li>
                        <li class="divider"></li>
                        <li><a href="/gmao/restricted/editor/">Editoria</a></li>
                        <li class="divider"></li>
                        <li><a href="/gmao/restricted/edit/">Editar Perfil</a></li>
                        <li><a href="/gmao/restricted/networking/">Informações de Networking</a></li>
                        <li><a href="/gmao/restricted/configs/">Configurações</a></li>
                        <li><a href="/gmao/logout">Logout</a></li>
                        {% else %}
                            <li><a href="/gmao/login">Login</a></li>
                        {% endif %}
                </ul>
            </ul>
        </div>
        </div>
        </div>

        <div id="wrap">
        <div id="main" class="container clear-top">
        <div class="banner">
        <div class="container">
        <div class="row"><br>
        <div class="span12">
            {% block pagebanner %}
            {% endblock %}
        </div>
        </div>
        </div>
        </div>

        {% block body %}
        {% endblock %}
        </div>
        </div>

        <div class="footer">
        <div class="container">
        {# Footer section #}
        <div class="row"><br>
        <div class="span12">
            <p>INPE GMAO - Grupo de Modelagem Acoplada Oceano-Atmosfera</p>
        </div>            
        </div>
        </div>
        </div>
    
        <script type="text/javascript" src="/media/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap-carousel.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap-collapse.js"></script>
        <script>$(".collapse").collapse();</script>
        <script type="text/javascript" src="/media/js/bootstrap-dropdown.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>

</html>
