{% extends 'gmaobase.html' %}

{% block cabecalho %}Notícias{% endblock %}

{% block pagebanner %}
<h2>Notícias</h2>
{% endblock %}

{% block body %}
<div class="news">
<div class="container">
<div class="row"><br>
    <div class="span12">
        <ul class="news-list">
            {% for n in news %}
                <li class="news-item"><a href="/news/{{n.id}}">{{ n.title }}</a></li>
                <li class="news-timestamp">{{ n.when }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
</div>
{% endblock %}

