{% extends "gmaobase.html" %}

{% block pagebanner %}
<h2>INPE - GMAO</h2>
<h3>Grupo de Modelagem Acoplada Oceano-Atmosfera</h3>
{% endblock %}

{% block body %}
<div class="slideshow">
<div class="container">
<div class="row"><br>
<div class="span12">
    <h4>Destaques</h4>
    <div id="rotativenews" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item car-img">
                <a href="/gmao/news/{{ img.news }}"><img height=400 src="/media/{{ imgs.0.img }}"/></a>
                <div class="carousel-caption">
                    <h4>{{ imgs.0.caption }}</h4>
                </div>
            </div>
            {% for img in imgs|slice:"1:" %}
                <div class="item car-img">
                    <a href="/gmao/news/{{ img.news }}"><img height=400 class="car-img" src="/media/{{ img.img }}"/></a>
                    <div class="carousel-caption">
                        <h4>{{ img.caption }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- carousel nav -->
        <a class="carousel-control left" href="#rotativenews" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#rotativenews" data-slide="next">&rsaquo;</a>
    </div>
</div>
</div>
</div>
</div>

<div class="recent">
<div class="container">
<div class="row"><br>
<div class="span6">
{# place for news #}

    <h4>Notícias Recentes</h4>
    {% for n in news %}
        <p><strong><a href="/gmao/news/{{ n.id }}">{{ n.title }}</a></strong></p>
        <p>{{ n.when }}</p>
    {% endfor %}

</div>

<div class="span6">
{# place for science #}
    <h4>Destaques Científicos</h4>
    {% for sci_pair in science %}
        <p><iframe width="200" height="160" src="{{ sci_pair.0.video_link }}" frameborder="0" allowfullscreen></iframe></p>
        <p>{{ sci_pair.1.short }}</p>
    {% endfor %}
</div>


</div>
</div>
</div>
{% endblock %}
