{% extends 'gmaobase.html' %}

{% block pagebanner %}
    <h2>{{ post.title }}</h2>
{% endblock %}

{% block body %}
<div class="post-view">
<div class="container">
<div class="row"><br>
    <div class="span12">
        <p class="post-timestamp">{{ post.when }}</p>
    </div>
    <div class="span12">
        <p class="author">Por: <a href="/gmao/people/{{ post.author.id }}">{{ post.author }}</a></p>
    </div>
    <div class="span12">
        <p class="post-description">{{ post.description|linebreaks }}</p>
    </div>
    <div class="span12">
        <p class="post-body">{{ post.content|linebreaks }}</p>
    </div>
</div>
</div>
</div>
{% endblock %}

