{% extends "gmaobase.html" %}

{{ form.media }}

{% block cabecalho %}Enviar Gráfico{% endblock %}

{% block pagebanner %}
    <h2>Enviar Gráfico</h2>
{% endblock %}

{% block body %}
<div class="image-edit">
    {% if erro %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            <strong>Erro!</strong><br>Entradas inválidas
        </div>
    {% endif %}

    <form class="well" method="post" action="" enctype="multipart/form-data" class="infotabs accfrm pub">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit"><i class="icon-ok"></i> Enviar</button>
    </form>
</div>
{% endblock %}

