{% extends "gmaobase.html" %}

{% load thumbnail %}

{% block pagebanner %}
<div class="hero-unit">
    <h2>{{ people.name }}</h2>
</div>
{% endblock %}

{% block body %}
<div class="profile">
<div class="container">
<div class="row"><br>

<div class="span3">
    <div class="thumbnail">
        {% thumbnail people.photo "x300" crop="center" as photo %}
            <img src="{{ photo.url }}">
        {% endthumbnail %}
    </div>
</div>

<div class="span8 offset1">
    <div class="well">
        <h3>Sobre</h3><br>
        <p>{{ people.about|linebreaksbr }}</p>
    </div>
    <div class="well"> 
        <h3>Posts</h3><br>
        {# posts by this person #}
        <ul class="post-list">
            {% for post in posts %}
                <li class="post-item"><a href="/gmao/posts/{{ post.id }}">{{ post.title }}</a></li>
                <li class="post-timestamp">{{ post.when }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

</div>
</div>
</div>
{% endblock %}

