{% extends "gmaobase.html" %}

{% block body %}
<div class="site_banner">
    <h2 class="site_banner">INPE - GMAO</h3>
    <h3 class="site_banner">Grupo de Modelagem Acoplada Oceano-Atmosfera</h2>
</div>

<div class="slide_show">
    <h4 class="section_title">Destaques</h4>
    <div id="slides" align=center>
        <div class="slides_container" width=600 height=200>
            {% for img in imgs %}
                <div class="slide">
                    <a href="/gmao/news/{{ img.news }}"><img title="{{ img.caption }}" src="/media/{{ img.img }}" height=260></a>
                    <div class="caption">
                        <p>{{ img.caption }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="home_news">
    <h4 class="section_title">Notícias Recentes</h4>
    {% for entry in news %}
        <div class="entry">
            <p class="news_title"><strong><a class="news_link" href="/gmao/news/{{ entry.id }}">{{ entry.title }}</a></strong></p>
            <p class="news_entry">{{ entry.content }}</p>
        </div>
    {% empty %}
        vazio
    {% endfor %}
</div>
{% endblock %}
