{% extends "gmaobase.html" %}

{% block cabecalho %}Escrever Post{% endblock %}

{% block pagebanner %}
    <h2>Criar Post</h2>
{% endblock %}

{% block body %}
<div class="post-edit">
    {% if erro %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            <strong>Erro!</strong><br>Entradas inválidas
        </div>
    {% endif %}

    <form class="well" method="post" action="" enctype="multipart/form-data" class="infotabs accfrm">
        {% csrf_token %}
        <div class="alert">Você pode usar Markdown para estilizar o texto. Veja <a href="http://en.wikipedia.org/wiki/Markdown">como funciona</a>.</div>
        {{ form.as_p }}
        <button class="btn" type="submit"><i class="icon-ok"></i> Salvar</button>
    </form>
</div>
{% endblock %}

