{% extends 'gmaobase.html' %}

{% block cabecalho %}Blog{% endblock %}


{% block pagebanner %}
    <h2>GMAO Blog</h2>
    <h5><a href="/blog/feed/"><img src="/media/feed-icon-28x28.png"/> RSS Feed</a></h5>
{% endblock %}

{% block body %}
<div class="post-view">
<div class="container">
<div class="row"><br>

    <div class="span12">
    {% for post in posts %}
    <div class="well">
            <h3><a href="/posts/{{ post.id }}">{{ post.title }}</a></h3>
            <span class="author">Por: <a href="/people/{{ post.author.id }}">{{ post.author }}</a></span>
            <span class="post-timestamp">{{ post.when }}</span><br>
            <span class="post-description">
                {{ post.description|linebreaksbr }}<br><br>
                <a href="/posts/{{ post.id }}">Ir para o post...</a>
            </span>
    </div>
    {% endfor %}
    </div>
</div>

<div class="row"><br>

    <div class="span12">
        <p><a href="/posts/">Lista de todos os posts</a></p>
    </div>
    
</div>
</div>
</div>
{% endblock %}

