{% extends "gmaohome.html" %}

{% block cabecalho %}Login{% endblock %}

{% block body %}
<div class="login">

    {%if form.errors %}
        {{ form.non_field_errors }}
    {% endif %}

    <form class="well" action="" method="post">
        {% csrf_token %}
        <table class='login_table'>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn">Login</button></td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

</div>
{% endblock %}

