{% extends "gmaobase.html" %}

{% block body %}
<div class="banner">
<div class="container">
<div class="row"><br>
<div class="span12">
    <h2>INPE - GMAO</h2>
    <h3>Grupo de Modelagem Acoplada Oceano-Atmosfera</h3>
</div>
</div>
</div>
</div>

<div class="slideshow">
<div class="container">
<div class="row"><br>
<div class="span12">
    <h4>Destaques</h4>
    <div id="rotativenews" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item car-img">
                <a href="/gmao/news/{{ img.news }}"><img height=400 src="/media/{{ imgs.0.img }}"/></a>
                <div class="carousel-caption">
                    <h4>{{ imgs.0.caption }}</h4>
                </div>
            </div>
            {% for img in imgs|slice:"1:" %}
                <div class="item car-img">
                    <a href="/gmao/news/{{ img.news }}"><img height=400 class="car-img" src="/media/{{ img.img }}"/></a>
                    <div class="carousel-caption">
                        <h4>{{ img.caption }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- carousel nav -->
        <a class="carousel-control left" href="#rotativenews" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#rotativenews" data-slide="next">&rsaquo;</a>
    </div>
</div>
</div>
</div>
</div>

<div class="homenews">
<div class="container">
<div class="row"><br>
<div class="span12">
    <h4>Notícias Recentes</h4>
    {# consider 4 news coming #}

    <div class="container">
        <div class="row"><br>
            <div class="span6">
                <p><strong><a href="/gmao/news/{{ news.0.id }}">{{ news.0.title }}</a></strong></p>
                <p>{{ news.0.when }}</p>
            </div>    
            <div class="span6">
                <p><strong><a href="/gmao/news/{{ news.1.id }}">{{ news.1.title }}</a></strong></p>
                <p>{{ news.1.when }}</p>
            </div>    
        </div>
        <div class="row"><br>
            <div class="span6">
                <p><strong><a href="/gmao/news/{{ news.2.id }}">{{ news.2.title }}</a></strong></p>
                <p>{{ news.2.when }}</p>
            </div>    
            <div class="span6">
                <p><strong><a href="/gmao/news/{{ news.3.id }}">{{ news.3.title }}</a></strong></p>
                <p>{{ news.3.when }}</p>
            </div>    
        </div>
    </div>

</div>
</div>
</div>
</div>
{% endblock %}
