<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>GMAO Site Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1274, user-scalable=no">
    <link rel="stylesheet" href="/media/shower/themes/ribbon/styles/style.css">
    <!--
        To apply styles to the certain slides
        use slide ID to get needed elements
        -->
    <style>
        .slide h3 {
            font-size:20px;
        }
        #Cover h2,
         #End h2 {
            color:#FFF;
            text-align:center;
            font-size:70px;
            }
        #Cover p {
            color:#FFF;
            text-align:center;
        }
        #FitToWidth h2,
        #FitToHeight h2 {
            color:#FFF;
            text-align:center;
            }
    </style>
</head>

<body class="list">
    <header class="caption">
        <h1>Retrospectiva 2012</h1>
        <p>Luiz Irber</p>
    </header>
    <div class="slide cover" id="Cover"><div>
        <section>
            <header>
                <h2>Retrospectiva 2012</h2>
            </header>
            <p>Luiz Irber</p>
        </section>
    </div></div>

    <div class="slide" id="Resumo"><div>
        <section>
            <header>
                <h2>Atividades no ano</h2>
            </header>
            <ul>
                <li>Operacional</li>
                <li>Conversão CMIP5</li>
                <li>Bosun</li>
                <li>Jenkins</li>
                <li>Modules</li>
                <li>OceanSound</li>
            </ul>
        </section>
    </div></div>

    <div class="slide" id="operacional"><div>
        <section>
            <header>
                <h2>Operacional</h2>
                <h3>$REPOS/Scripts/Oper</h3>
                <h3>/stornext/home/modoper/Acoplado/</h3>
            </header>
            <p>
              <img src="https://docs.google.com/drawings/pub?id=14oYOMJJV_duiX15MRJT-UuVQmYXlSnrJFbgvrxrJ9IM&w=724&h=232"></p>
        </section>
    </div></div>

    <div class="slide" id="conversao"><div>
        <section>
            <header>
                <h2>Conversão CMIP5</h2>
                <h3>$REPOS/Scripts/CMIP5</h3>
            </header>
            <p>
               Script de conversão: Roberto<br/>
               Adaptação e paralelização<br/>
               <img src="https://docs.google.com/drawings/pub?id=1BbJyuGwel89ozSVG1c5PlrX2sQOGPxz6X57jQWSr_94&w=870&h=172">
            </p>
        </section>
    </div></div>

    <div class="slide" id="bosun"><div>
        <section>
            <header>
                <h2>Bosun</h2>
                <h3>/stornext/online2/ocean/bosun/</h3>
            </header>
            <p>
              <img src="https://docs.google.com/drawings/pub?id=1OuNhnngb34NPufprCS1nGV7CRoqFBb25vdamvYDUX4o&amp;w=569&amp;h=335">
            </p>
        </section>
    </div></div>

    <div class="slide" id="bosun-works"><div>
        <section>
            <header>
                <h2>Utilização do Bosun</h2>
            </header>
            <p>Guilherme: Parametrizações Wind Gustness, Bryan-Lewis e dt</p>
            <p>Eduardo: <br/>
               Farias, E. G. G. d., and Coauthors, 2012: Variability of air-sea CO2 fluxes and dissolved inorganic carbon distribution in the Atlantic Basin: a coupled model analysis. International Journal of Geosciences.</p>
            <p>Léo, Guilherme, Emanuel: grade alta resolução (1/10&deg;) e regrid das forçantes (com MPI) </p>
        </section>
    </div></div>

    <div class="slide" id="jenkins"><div>
        <section>
            <header>
                <h2>Jenkins</h2>
                <h3>http://papera:8080</h3>
            </header>
            <p>
              <img src="https://docs.google.com/drawings/pub?id=1Cps_xM7cUBonrNVpmfECFj2FoyX33V5mjOuGlSNFwjA&amp;w=790&amp;h=442">
            </p> 
        </section>
    </div></div>

    <div class="slide" id="modulefiles"><div>
        <section>
            <header>
                <h2>Modules</h2>
                <h3>/scratchin/prod/mbscg/home/mbscg/software/modulefiles</h3>
            </header>
            <p>Disponibilização de software extra</p>
            <p>Organização (e simplificação do .bashrc)</p>
            <p>Variável $MODULEPATH</p>
        </section>
    </div></div>

    <div class="slide" id="modulefiles-available"><div>
        <section>
            <header>
                <h2>Módulos disponíveis</h2>
            </header>
            <p>
              <ul>
                <li>anaconda/1.2</li>
                <li>cdo/1.5.0</li>
                <li>ferret/6.65</li>
                <li>git/1.7.1</li>
                <li>mercurial/2.3.2</li>
                <li>nco/2.7.1</li>
              </ul>
            </p>
        </section>
    </div></div>

    <div class="slide" id="oceansound"><div>
        <section>
            <header>
                <h2>OceanSound</h2>
                <h3>http://github.com/arnaldorusso/OceanSound</h3>
            </header>
            <p>Painel apresentado no CBO</p>
            <a href="http://i.imgur.com/Jcb7J"><img src="http://i.imgur.com/Jcb7J.png" alt=""/></a>
        </section>
    </div></div>

    <div class="slide" id="oceansound-resultado"><div>
        <section>
            <header>
                <h2>OceanSound - Exemplo</h2>
            </header>
            <a href="http://i.imgur.com/nTxIJ"><img src="http://i.imgur.com/nTxIJ.png" width=533 height=400 alt=""/></a>
        </section>
    </div></div>

    <div class="slide cover FitToWidth" id="End"><div>
        <section>
            <header>
                <h2>Obrigado!</h2>
            </header>
        </section>
    </div></div>
    
    <div class="progress"><div></div></div>
    <script src="/media/shower/scripts/script.js"></script>

</body>


</html>
