{% extends "gmaobase.html" %}

{{ form.media }}

{% block pagebanner %}
    <h2>Enviar Publicação</h2>
{% endblock %}

{% block body %}
<div class="image-edit">
    {% if erro %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            <strong>Erro!</strong><br>Entradas inválidas
        </div>
    {% endif %}

    <form class="well" method="post" action="" enctype="multipart/form-data" class="infotabs accfrm pub">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'publication_date'%}
                <p>{{ field.label }}<br><input type="date" name="publication_date" id="id_publication_date" /></p>
            {% else %}
                <p>{{ field.label }}<br>{{ field }}</p>
            {% endif %}
        {% endfor %}
        {# form.as_p #}
        <button class="btn" type="submit"><i class="icon-ok"></i> Enviar</button>
    </form>
</div>
{% endblock %}

