{% extends "gmaobase.html" %}

{% block pagebanner %}
    <div class="hero-unit">
        <h1>Moo!</h1>
    </div>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row"><br>
            <div class="span12">
                <div class="alert alert-success">
                    <strong>Olha só</strong><br>Você achou um easter-egg.
                </div>
            </div>
        </div>
        <div class="row"><br>
            <div class="span12">
                    <p>Então vamos falar de tecnologia.</p>
                    <p>Este site se baseou principalmente em dois projetos:</p>
            </div>
        </div>
        <div class="row"><br>
            <div class="span6">
                <div class="well">

<p><a href="https://www.djangoproject.com/">Django</a></p>
<p>O Django é um framework Python para web e é a base de todo esse site</p>
<p>Se você já sabe Python e quer começar a programar com web, eu recomendo muito fortemente.
A documentação é excelente e há uma comunidade grande e prestativa.
Praticamente tudo que você precisar você vai achar pronto por aí: é só plugar e usar.</p>

                </div>
            </div>
            <div class="span6">
                <div class="well">

<p><a href="http://twitter.github.com/bootstrap">Bootstrap</a></p>
<p>O Bootstrap é uma coleção de CSSs e JavaScripts e é o responsável por este site ser bonito</p>
<p>Foi criado pelo pessoal do Twitter para facilitar a vida deles lá dentro, e depois disponibilizado
para qualquer desenvolvedor usar no seu site.</p>
<p>Este site usa também alguns ícones dos <a href="http://glyphicons.com/">Glyphicons</a>, que vieram embutidos no Bootstrap</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

