{% extends 'gmaobase.html' %}

{% load thumbnail %}

{% block cabecalho %}
{{ post.title }}
{% endblock %}

{% block pagebanner %}
{% endblock %}

{% block body %}
<div class="post-view">
<div class="container">
    <div class="row"><br>
        <div class="span12">
            <h2>{{ post.title }}</h2>
            <span class="author"><a href="/gmao/people/{{ post.author.id }}">{{ post.author }}</a></span>
            <span class="post-timestamp">{{ post.when }}</span><br>
            <span class="post-description">{{ post.description|linebreaksbr }}</span>
        </div>
    </div>

    <div class="row"><br>
        <div class="span12">
            {% if post.using_markdown %}
                {% load markup %}
                <div class="post-body">{{ post.content|markdown }}</div>
            {% else %}
                <p class="post-body">{{ post.content|linebreaksbr|urlize }}</p>
            {% endif %}
            <p>Por: <span class="author"><a href="/gmao/people/{{ post.author.id }}">{{ post.author }}</a></span></p>
        </div>
    </div>

        {% if imgs %}
            <div class="row"><br>
                <div class="span12">
                  <div class="well">
                    <h3>Imagens</h3>
                    {% for img in imgs %}
                        <div class="row"><br>
                            <div class="span2">
                                {% thumbnail img.img "x100" crop="center" as im %}
                                    <a href="{{ img.img.url }}"><img src="{{ im.url }}" title="{{ img.description }}"></a>
                                {% endthumbnail %}
                            </div>
                            <div class="span9">
                                {{ img.description }}
                            </div>
                        </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
        {% endif %}
        {% if attach %}
            <div class="row"><br>
                <div class="span12">
                  <div class="well">
                    <h3>Arquivos Anexos</h3>
                    {% for att in attach %}
                        <p><i class="icon-download-alt"></i>
                            <a href="{{ att.attachment.url }}">
                        {% if att.description %}
                            {{ att.description }}
                        {% else %}
                            {{ att }}
                        {% endif %}
                            </a></p>
                    {% endfor %}
                  </div>
                </div>
            </div>
        {% endif %}

</div>
</div>
{% endblock %}

