{% extends 'gmaobase.html' %}

{% block cabecalho %}Notícias{% endblock %}

{% block pagebanner %}
    <h2>Notícias</h2>
{% endblock %}

{% block body %}
<div class="post-view">
<div class="container">
<div class="row"><br>

    <div class="span12">
    {% for n in news %}
    <div class="well">
            <h3><a href="/gmao/news/{{ n.id }}">{{ n.title }}</a></h3>
            <span class="author"><a href="/gmao/people/{{ n.author.id }}">{{ n.author }}</a>
            <span class="post-timestamp">{{ n.when }}</span></br>
            <span class="post-description">{{ n.content|linebreaksbr }}</span><br><br>
            <!--<p class="post-body">{{ n.long_content|linebreaksbr }}</p>-->
    </div>
    {% endfor %}
    </div>

    <div class="span12">
        <p><a href="/gmao/news/">Lista de todas as notícias</a></p>
    </div>
    
</div>
</div>
</div>
{% endblock %}

